<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdgssu.android_deviewsched" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".DeviewSchedApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DeviewAppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/DeviewAppTheme_MaterialViewPager" >
        </activity>
        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.splashlogin.SplashLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.detailsession.DetailSessionActivity"
            android:label="@string/title_activity_detail_session"
            android:screenOrientation="portrait"
            android:theme="@style/DeviewAppTheme" >
        </activity>
        <activity
            android:name=".ui.location.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeviewAppTheme" >
        </activity>
        <activity
            android:name=".ui.selectsession.SelectSessionActivity"
            android:label="@string/title_activity_select_session" >
        </activity>
    </application>

</manifest>
